<div class="{{ descriptor.name.replace(' ', '-') }} descriptor">
    <h2>{{ descriptor.name }}</h2>
    {% if descriptor.description %}
    <p>{{ descriptor.description }}</p>
    {% endif %}

    <div class="paths">
        {% for path in descriptor.paths %}
        <div class="path"><span class="label">Path:</span><code>{{request.host_url}}{{path}}</code></div>
        {% endfor %}
    </div>

    {% for key, shield in buttons.items() %}
    <div class="scieldas">
        <div class="state"><code>{{key}}</code></div>
        <div class="scield">
        {{shield.tostring() | safe}}
        </div>
    </div>
    {% endfor %}
</div>
